{#
/**
 * @file apache_openmeetings.html.twig
 * Default theme implementation to present Apache Openmeetings data.
 *
 * This template is used when viewing Apache Openmeetings pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_apache_openmeetings()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('apache_openmeetings') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
